.LoginScreen {
	position: relative;
	height: 100%;
	background: url('http://s3-us-west-2.amazonaws.com/techvibes/wp-content/uploads/2017/04/24135159/Netflix-Background.jpg')
		center center no-repeat;
	background-size: cover;

	&__background {
	}

	&__logo {
		position: fixed;
		left: 0;
		width: 150px;
		padding-left: 20px;
		object-fit: contain;
	}

	&__button {
		position: fixed;
		right: 20px;
		top: 20px;
		padding: 10px 20px;
		font-size: 1rem;
		color: #fff;
		background-color: #e50914;
		font-weight: 500;
		border: none;
		cursor: pointer;
		border-radius: 3px;
	}

	&__gradient {
		z-index: 1;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.4);
		background-image: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.8) 0,
			rgba(0, 0, 0, 0) 60%,
			rgba(0, 0, 0, 0.8) 100%
		);
	}

	&__body {
		width: 95%;
		z-index: 1;
		color: #fff;
		padding: 20px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h1 {
			font-size: 3.125rem;
			margin-bottom: 20px;
		}

		h2 {
			font-size: 2rem;
			font-weight: 400;
			margin-bottom: 30px;
		}

		h3 {
			font-size: 1.3rem;
			font-weight: 400;
		}
	}

	&__input {
		margin: 20px;
		form {
			input {
				font-size: 1rem;
				padding: 10px;
				outline-width: 0;
				height: 30px;
				width: 30%;
				border: none;
				max-width: 600px;
			}

			button {
				padding: 16px 20px;
				font-size: 1rem;
				border: none;
				cursor: pointer;
				color: white;
				background-color: #e50914;
				font-weight: 600;
			}
		}
	}
}
