.signupScreen {
	max-width: 300px;
	padding: 70px;
	margin-left: auto;
	margin-right: auto;
	background: rgba($color: #000000, $alpha: 0.7);
	border-radius: 3px;

	form {
		display: grid;
		flex-direction: column;

		input {
			border-radius: 3px;
			font-size: 1rem;
			padding: 10px;
			margin-bottom: 14px;
			outline-width: 0;
			height: 30px;
			border: none;
			max-width: 600px;
		}

		button {
			border-radius: 3px;
			padding: 16px 20px;
			margin-top: 20px;
			font-size: 1rem;
			border: none;
			cursor: pointer;
			color: white;
			background-color: #e50914;
			font-weight: 500;
		}

		h4 {
			text-align: left;
			margin-top: 20px;
			font-weight: 500;
		}
	}

	&__gray {
		color: gray;
	}

	&__link:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
