.banner {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Black_flag.svg/1200px-Black_flag.svg.png');
	background-position: center center;
	background-size: cover;
	position: relative;
	color: white;
	height: 600px;
	background-repeat: no-repeat;
	object-fit: contain;

	&__content {
		margin-left: 30px;
		padding-top: 290px;
		height: 190px;
	}

	&__title {
		font-size: 3rem;
		font-weight: 800;
		padding-bottom: 0.3rem;
		text-shadow: 2px 2px 8px #333;
	}

	&__desc {
		width: 30rem;
		line-height: 1.3;
		padding-top: 1rem;
		font-size: 0.8rem;
		min-width: 360px;
		height: 80px;
		text-shadow: 2px 2px 8px #333;
	}

	&__button {
		&--btn {
			cursor: pointer;
			color: white;
			outline: none;
			border: none;
			font-weight: 700;
			margin-right: 1rem;
			border-radius: 0.2vw;
			padding: 0.5rem 2rem;
			background-color: rgba(51, 51, 51, 0.5);

			&:hover {
				color: #000000;
				background-color: #fff;
				transition: all 0.2s;
			}
		}
	}

	&--fadeBottom {
		height: 120px;
		background-image: linear-gradient(
			180deg,
			transparent,
			rgba(37, 37, 37, 0.61),
			#111
		);
	}
}
