.nav-black {
	background-color: #111;
}

.nav {
	position: fixed;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 30px;
	z-index: 1;

	transition-timing-function: ease-in;
	transition: all 1s;

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		position: fixed;
		top: 10px;
		left: 0;
		width: 80px;
		cursor: pointer;
		object-fit: contain;
		padding-left: 20px;
	}

	&__avatar {
		position: fixed;
		right: 20px;
		width: 30px;
		cursor: pointer;
		border-radius: 3px;
	}
}
