.row {
	color: #fff;
	margin-left: 20px;

	&__posters {
		display: flex;
		overflow-y: hidden;
		overflow-x: scroll;
		padding: 20px;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__poster {
		margin-right: 10px;
		max-height: 100px;
		object-fit: contain;
		border-radius: 3px;
		width: 100%;
		transition: transform 450ms;

		&:hover {
			transform: scale(1.1);
			opacity: 1;
			z-index: 100;
		}
	}

	&__posterLarge {
		max-height: 250px;
	}
}
